VITE_SUPABASE_URL=https://gfjtaqaqjphljykjhfap.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdmanRhcWFxanBobGp5a2poZmFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODg1NDYsImV4cCI6MjA5NzQ2NDU0Nn0.ryJ6A2B_yMxvwvncNPpMmEqLlbDdzr-3BkEGVMl-UM8
